*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: #FFF;
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
}

.wrapper {
  margin: 0 auto 100px;
  max-width: 960px;
}

.stage {
  list-style: none;
  padding: 0;
}

.scene {
  width: 260px;
  height: 260px;
  margin: 30px;
  float: left;
  perspective: 1000px;
}

.movie {
  width: 260px;
  height: 260px;
  transform-style: preserve-3d;
  transform: translateZ(-130px);
  transition: transform 350ms;
}

.movie:hover {
  transform: rotateY(270deg) translateZ(0);
}

.movie .poster, 
.movie .info {
  position: absolute;
  width: 260px;
  height: 260px;
  backface-visibility: hidden;
}

.movie .poster {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 20px;
  font: oblique bold 120% cursive;
}

.movie .info {
  transform: rotateY(90deg) translateZ(130px);
  font-size: 0.75em;
  padding: 10px 20px;
}

.csstransforms3d .movie::after {
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0,0,0,0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateY(130px);
  transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

.info header {
  color: #FFF;
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
}

.info header .rating {
  border: 1px solid #FFF;
  padding: 0px 3px;
}

.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #666;
  line-height: 1.4em;
  border-top: 10px solid #555;
}

.movie .poster,
.movie .info,
.movie .info header {
  transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
  box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info, 
.csstransforms3d .movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info, 
.csstransforms3d .movie:hover .info header {
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

.scene:nth-child(1) .movie .poster,
.scene:nth-child(8) .poster,
.scene:nth-child(9) .movie .poster,
.scene:nth-child(16) .movie .poster,
.scene:nth-child(23) .movie .poster,
.scene:nth-child(30) .movie .poster {
  background-image: url(../img/001a.png);
}

.scene:nth-child(2) .poster,
.scene:nth-child(10) .poster,
.scene:nth-child(17) .poster,
.scene:nth-child(24) .poster,
.scene:nth-child(31) .poster {
  background-image: url(../img/001b.png);
}
/* 
.scene:nth-child(3) .poster,
.scene:nth-child(11) .poster,
.scene:nth-child(18) .poster,
.scene:nth-child(25) .poster,
.scene:nth-child(32) .poster {
  background-image: url(../img/002a.png);
}

.scene:nth-child(4) .poster,
.scene:nth-child(12) .poster,
.scene:nth-child(19) .poster,
.scene:nth-child(26) .poster {
  background-image: url(../img/002b.png);
}

.scene:nth-child(5) .movie .poster,
.scene:nth-child(13) .movie .poster,
.scene:nth-child(20) .movie .poster,
.scene:nth-child(27) .movie .poster {
  background-image: url(../img/003a.png);
}

.scene:nth-child(6) .poster,
.scene:nth-child(14) .poster,
.scene:nth-child(21) .poster,
.scene:nth-child(28) .poster {
  background-image: url(../img/003b.png);
}

.scene:nth-child(7) .poster,
.scene:nth-child(15) .poster,
.scene:nth-child(22) .poster,
.scene:nth-child(29) .poster {
  background-image: url(../img/003c.png);
} */
/* 
#imgicon6,
#imgicon64,
#imgicon65,
#imgicon66,
#imgicon67,
#imgicon68,
#imgicon71,
#imgicon72,
#imgicon73,
#imgicon74,
#imgicon75,
#imgicon77,
#imgicon78,
#imgicon79,
#imgicon80,
#imgicon81,
#imgicon82,
#imgicon83,
#imgicon86,
#imgicon88,
#imgicon93,
#imgicon94,
#imgicon105,
#imgicon108,
#imgicon110,
#imgicon111,
#imgicon112,
#imgicon113,
#imgicon115,
#imgicon116,
#imgicon122,
#imgicon128,
#imgicon131,
#imgicon134,
#imgicon140,
#imgicon143,
#imgicon146 {
  content: url(../img/iconos/03.png); 
  display: block;
  margin: auto;
  width: 40%;
  height: auto;
  padding: 0;
}

#imgicon69,
#imgicon85,
#imgicon87,
#imgicon89,
#imgicon90,
#imgicon91,
#imgicon92,
#imgicon95,
#imgicon96,
#imgicon97,
#imgicon98,
#imgicon99,
#imgicon100,
#imgicon101,
#imgicon102,
#imgicon104,
#imgicon107,
#imgicon117,
#imgicon120,
#imgicon123,
#imgicon126,
#imgicon129,
#imgicon132,
#imgicon136,
#imgicon139 {
  content: url(../img/iconos/02.png); 
  display: block;
  margin: auto;
  width: 40%;
  height: auto;
  padding: 0;
}

#imgicon70,
#imgicon76,
#imgicon84,
#imgicon106,
#imgicon118,
#imgicon121,
#imgicon124,
#imgicon127,
#imgicon130,
#imgicon135,
#imgicon138,
#imgicon141,
#imgicon144,
#imgicon147,
#imgicon150,
#imgicon153,
#imgicon156,
#imgicon159,
#imgicon162 {
  content: url(../img/iconos/01.png); 
  display: block;
  margin: auto;
  width: 40%;
  height: auto;
  padding: 0;
}

#imgicon167,
#imgicon168,
#imgicon169,
#imgicon170,
#imgicon171,
#imgicon172,
#imgicon173,
#imgicon174,
#imgicon175,
#imgicon176,
#imgicon177,
#imgicon178,
#imgicon179,
#imgicon180,
#imgicon181,
#imgicon182,
#imgicon183,
#imgicon184,
#imgicon185,
#imgicon186,
#imgicon187,
#imgicon188,
#imgicon189,
#imgicon190,
#imgicon191,
#imgicon192,
#imgicon193,
#imgicon194 {
  content: url(../img/iconos/03.png); 
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
  padding: 0;
  margin-top: 3%;
  margin-bottom: 1%;
} */

.no-csstransforms3d .movie .poster, 
.no-csstransforms3d .movie .info {
  position: relative;
}

@media screen and (max-width: 60.75em){
  .scene {
    float: none;
    margin: 30px auto 60px;
  }
}
/* 
.progress {
  width: 80px;
  height: 80px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #C63663;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  transform-origin: center right;
}

.progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}

.progress .progress-value div {
  margin-top: 10px;
}

.progress .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
} */

@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36deg);
  }
}

@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(72deg);
  }
}

@keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(108deg);
  }
}

@keyframes loading-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}

@keyframes loading-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.progress {
  margin-bottom: 1em;
}
